<?xml version="1.0"?>
<StairsClimbing units="mm">
	<!--
	Structure dimension (note that a, b and c are not the actual distances
	between actuator 1 and 2, 2 and 3, and 3 and 4 respectively, but the
	maximum gap between the edges of the wheels 1 and 2, 2 and 3, and 3 and 4,
	that is, for example, for parameter a, the minimum value for a is:
	a + r1 + r2, where r1 and r2 are the radius of wheels 1 and 2. 
	but the minimum gap between 
	- a, b, c: minimum gap between wheels.
	- d: Size of the actuator.
	- h: Horizontal margin (delta h in the paper).
	- v: Horizontal margin (delta v in the paper).
	- g: Aditional height of the actuator (only for visualization purposes, not
		useful).
	- n: Maximum inclination, measured as the differences in height between 
		actuator 1 and 4. Note that the maximum inclination depends on this
		parameter, but also depends on the separation of the wheels, choosing
		the more restrictive one.
	-->
	<size a="20.0" b="220.0" c="20.0" d="250.0" h="5.0" v="5.0" g="100.0" n="700.0">
	</size>
	<!--
	Wheel radius. Can be different for each one.
	-->
	<wheels r1="60.0" r2="60.0" r3="60.0" r4="60.0"></wheels>
	<!--
	Speeds:
	- actuator_up: Speed for an actuator when it is elevatinr the wheel.
	- actuator_dw: Speed for an actuator when it is taking the wheel down.
	- elevate_up: Speed when the actuators are elevating the structure.
	- elevate_dw: Speed when the actuators are taking the structure down.
	- incline_up: Speed when the actuators are inclining the structure up.
	- incline_dw: Speed when the actuators are inclining the structure down.
	- speed: Maximum horizontal speed.
	- acceleration: Maximum horizontal acceleration.
	- decceleration: Maximum horizontal decceleration.
	-->
	<dynamics actuator_up="20.0" actuator_dw="30.0" elevate_up="5.0" 
		elevate_dw="10.0" incline_up="4.0" incline_dw="8.0" speed="30.0" 
		decceleration="1.8" acceleration="0.8">
	</dynamics>
	<!--
	Optimizations:
	- min: Minimum structure size (s = a + b + c).
 	- max: Maximum structure size.
	- res: Resolution of the grid. That is, the program makes a loop iterating
		from min to max in steps of res size. Resolution is also used for the
		grid size for parameters a and c.
	- dir: Root directory where the contour images will be saved. If it does
		not exist, the directory is created.
	- height, width: Image size, in pixels.
	-->
	<optimization min="700.0" max="700.0" res="5.0"
		dir="/home/pedrogil/Imagenes/wheelchair/optimizacion" 
		height="600" width="800"/>
	<!--
	Not used.
	-->
	<samples sample_time="0.1" time_units="seconds"></samples>
	<!--
	Stair data:
	- landing: initial landing length. Ensure that is large enough so that the
		whole structure fits in this place.
	- dimensions: steps dimension:
		- N: number of steps.
		- w, h: Width and height
		- d: posterior landing length, so last step width is w+d
	-->
	<stairs landing="1000.0">
		<dimensions N="5" w="280.0" h="+175.0" d="1000.0"/>
		<dimensions N="5" w="280.0" h="-175.0" d="1000.0"/>
	</stairs>
</StairsClimbing>

